#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=info
Comment=Topic and information about gopios
Exec=xdg-open https://siliconpin.com/topics?tag=gopios
Icon=gopios
Terminal=false
Categories=Help;WebBrowser;
